@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

#border {
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
}

#imgcontainer {
    margin-top:30%;
}

#container1 {
    background-image: url("https://wallpapercave.com/wp/wp6081430.jpg");
    width:100%;
    left: 0;
    top:0;
    position:absolute;
    padding-bottom:10%;
    text-align:center;
}

#container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5%;
}

#container2 h1{
    margin-left:15%;
    font-weight:300;
    margin-top:20%;
    font-size:40px;
}

#container3 {
    width: 100%;
    position:absolute;
    text-align: left;
    color: #a0b1c5;
    padding-bottom:5%;
    left:0;
    bottom:0;
    padding-top:3%;
    font-family: Overpass, sans-serif;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -.003em;
    font-size:15px;
    padding-left:30px;
} 

#content {
    font-size:20px;
}

#title {
    font-size:50px;
    color:#00FFFF;
    font-weight:800;
    font-family:courier,sans-serif;
}

#content h1{
    visibility:hiddden;
    display:none;
    
}