@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    height: 10%;
    display: inline-block;
}
footer {
    height:10%;
    display: inline-block;
}

main {
    min-height: 80%; 
    display: inline-block;
}

a {
    text-decoration:none;
}

a:visited, a:link {
    color: skyblue;
}
      /* mouse over link */
a:hover, a:active {
    color: #6D0062;
    text-decoration:underline;
}

body {
    display: inline-block;
    height: 100%;
    font-family: Muli, sans-serif;
    color:white;
    background-color: #11161d;
    font-size: 30px;
    padding: 70px;
    padding-bottom:30%;
}


