@media (max-width:850px) {
    
    #container3 {
        bottom:0;
        position:absolute;
        width:100%;
        left:0;
        margin:0;
    }

    #container1 {
        left:0;
    }

    #container2 h1{
        display:none;
        margin-top:10%;
    }

    #content img{
        width:380px;
    }

    #content h1 {
        display:unset;
    }

    #content{
        margin-bottom:50%;
    }

}
