@media screen and (max-width:500px) {
    
    #container3 {
        bottom:0;
        positon:absolute;
        width:100%;
        margin-top:500px;
        left:0;
    }

    #container1 {
        padding-right:42%;
        left:0;
    }

    #container2 h1{
        display:none;
    }

    #content img{
        width:350px;
    }

    #content h1 {
        display:unset;
    }
    

}