header {
    text-align: center;
    font-size:25px;
    color:#00FFFF;
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-family: Muli, sans-serif;
    color:#EEEEEE;
    background-color: #000000;
    margin: 5%;
    font-size: 20px;
}

main {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin: auto;
}

footer{
    margin-top: 10%;
}


a:visited, a:link {
    color: #33bbff;
}

a {
    text-decoration:none;
}